/* body{
    background-image: url('/classwork/homebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */
a {
    text-decoration: none;
    padding: 5px;
    background-color: aliceblue;
    color: ash;
}
.container{
   width: 90%;
   margin: auto;
   height: 90vh;
}
.block{
    float: left;
    width: 40%;
    padding: 51px;
    position: relative;
    height: 100%;
}
/* .block-1{
m    float: left;
    width: 50%;
} */
.block-footer{
    padding-top: 100px;  
}
#bg{
    background-image: url('./btr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}
.my-form {
    padding-top: 48px;
}
.my-form input{
    display: flex;
    margin-bottom: 60px;
    width: 80%;
    border-radius: 3px;
    border: 0.5px solid black;
    padding: 10px;
}
.button {
    background-color: rgb(0, 4, 255);
    color:aliceblue;
}

.blurrer{
    /* border: 2px solid red; */
    width: 75%;
    height: 75%;
    position: absolute;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    filter: blur(10px);
}
.blur{
    z-index: 2; 
    position: relative;
}

/* .blurrer:before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
} */